<!DOCTYPE html>
<html>
<head>
    <title>ejs템플릿 03</title>
	<meta charset="utf-8" />
   
</head>
<body>
	<h2><%=title%></h2>
	<button onclick="location.href='/ledcontrol/on'">ON</button>
	<button onclick="location.href='/ledcontrol/off'">OFF</button>
	<button onclick="location.href='/ledcontrol/toggle'">TOGGLE</button>
</body>
</html>

