<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Temperature', 'Humidity'],
          <% for(var row in results){ 
          
          	if(row == results.length-1){ %>          
          	[results[row].temperature,results[row].humidity ]
          	<% }else{ %>
        		[results[row].temperature,results[row].humidity ],
		  <% }
		  }%>
		  
        ]);

        var options = {
          title: '교실 온습도',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
